/* button Component Styles */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  cursor: pointer;
  transition: all 0.2s ease;
}

.size-s {
  height: 28px;
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 13px;
  line-height: 20px;
}

.size-m {
  height: 40px;
  border-radius: 10px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  gap: 2px;
  font-size: 14px;
  line-height: 20px;
}

.size-l {
  height: 56px;
  border-radius: 12px;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 16px;
  padding-bottom: 16px;
  gap: 4px;
  font-size: 16px;
  line-height: 24px;
}

.variant-filled {
  background-color: var(--color-primary-01);
  border-color: transparent;
  border-width: 0px;
  color: var(--color-text-00);
  font-weight: 600;
}

.variant-outlined-black {
  background-color: var(--color-bg-00);
  border-color: var(--color-line-01);
  border-width: 2px;
  color: var(--color-text-03-high);
  font-weight: 600;
}

.variant-outlined-blue {
  background-color: var(--color-bg-00);
  border-color: var(--color-primary-01);
  border-width: 2px;
  color: var(--color-primary-01);
  font-weight: 600;
}

.variant-outlined-red {
  background-color: var(--color-bg-00);
  border-color: var(--color-state-error);
  border-width: 2px;
  color: var(--color-text-error);
  font-weight: 600;
}

.variant-text-blue {
  background-color: var(--color-bg-00);
  border-color: transparent;
  border-width: 0px;
  color: var(--color-primary-01);
  font-weight: 600;
}

.variant-text-black {
  background-color: transparent;
  border-color: transparent;
  border-width: 0px;
  color: var(--color-text-03-high);
  font-weight: 600;
}

.variant-filled-red {
  background-color: var(--color-state-error);
  border-color: transparent;
  border-width: 0px;
  color: var(--color-text-00);
  font-weight: 600;
}

.container:hover {
}

.container:active {
}

.container:focus {
}

.container:disabled {
}
